/* ===================================================================
 * fonts.scss)
 *
 * ------------------------------------------------------------------- */
 
/*
 * Libre Baskerville 
================================================================================ */
@font-face {
  font-family: "librebaskerville-regular";
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "librebaskerville-italic";
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "librebaskerville-bold";
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
/*
 * Tahoma
================================================================================ */
@font-face {
	font-family:"tahoma";
	src: url("../fonts/tahoma/Tahoma-Regular-font.ttf") format("truetype"),
	     url("../fonts/tahoma/TAHOMA_0.ttf") format("truetype"),
	     url("../fonts/tahoma/TAHOMAB0.ttf") format("truetype"),
	     url("../fonts/tahoma/TAHOMABD.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	
}
/*
 * Cambria
================================================================================ */
@font-face {
	font-family:"cambria";
	src: url("../fonts/cambria/Cambria.ttf") format("truetype"),
	     url("../fonts/cambria/cambriab.ttf") format("truetype"),
	     url("../fonts/cambria/CAMBRIAI.ttf") format("truetype"),
	     url("../fonts/cambria/CAMBRIAZ.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	
}
/*
 * Corbel
================================================================================ */
@font-face {
	font-family:"corbel";
	src: url("../fonts/corbel/CORBEL.ttf") format("truetype"),
	     url("../fonts/corbel/CORBELB.ttf") format("truetype"),
	     url("../fonts/corbel/Corbel-Bold.ttf") format("truetype"),
	     url("../fonts/corbel/Corbel-Bold-Italic.ttf") format("truetype"),
	     url("../fonts/corbel/corbeli.ttf") format("truetype"),
	     url("../fonts/corbel/Corbel-Italic.ttf") format("truetype"),
	     url("../fonts/corbel/corbelz.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	
}